{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <!-- Header section -->
        <div class="row mb-4">
            <div class="col-md-6">
                <a href="#" class="text-decoration-underline h2 text-dark">A propos de We Movies</a>
            </div>
            <div class="col-md-6 text-end">
                {% include '_autocomplete.html.twig' %}
            </div>
        </div>

        <!-- Main Movie Section -->
        <div class="row mb-4">
            <div class="col-12 text-center">
                {% if mainMovieId is not null %}
                {{ render(controller('App\\Controller\\MainMovieAction', {'id': mainMovieId})) }}
                {% else %}
                ...
                {% endif %}
            </div>
        </div>

        <!-- Filters and Cards section -->
        <div class="row">
            <!-- Gender Filters -->
            <div class="col-md-4">
                {% include '_gender_filters.html.twig' with { 'genders': genders } %}
            </div>

            <!-- Cards Section -->
            <div class="col-md-8">
                {% include '_movies_list.html.twig' with { 'list': list } %}
            </div>
        </div>
    </div>
    <!-- Modal for Movie Details -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
